<div id="app">
  <div>
    <a routerLink="/home" routerLinkActive="active">
      <span>
        <h4>home</h4>
      </span>
    </a>
    <a routerLink="/youku" routerLinkActive="active">
      <span>
        <h4>仿优酷效果</h4>
      </span>
    </a>
    <a routerLink="/drag" routerLinkActive="active">
      <span>
        <h4>拖曳</h4>
      </span>
    </a>
    <a routerLink="/follow-mouse" routerLinkActive="active">
      <span>
        <h4>鼠标跟随</h4>
      </span>
    </a>
    <a routerLink="/autocomplete" routerLinkActive="active">
      <span>
        <h4>自动完成</h4>
      </span>
    </a>
    <a routerLink="/observable" routerLinkActive="active">
      <span>
        <h4>Observable</h4>
      </span>
    </a>
  </div>

  <router-outlet></router-outlet>
</div>

