<div id="app">
  <div>
    <a routerLink="/home" routerLinkActive="active" class="col-1-4">
      <div>
        <h4>home</h4>
      </div>
    </a>
    <a routerLink="/youku" routerLinkActive="active" class="col-1-4">
      <div>
        <h4>仿优酷效果</h4>
      </div>
    </a>
    <a routerLink="/drag" routerLinkActive="active" class="col-1-4">
      <div>
        <h4>拖曳</h4>
      </div>
    </a>
    <a routerLink="/follow-mouse" routerLinkActive="active" class="col-1-4">
      <div>
        <h4>鼠标跟随</h4>
      </div>
    </a>
  </div>

  <router-outlet></router-outlet>
</div>

